<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.ab.mapper.AbAtlasMapper">
    
    <resultMap type="AbAtlas" id="AbAtlasResult">
        <result property="id"    column="id"    />
        <result property="imgUrl"    column="img_url"    />
        <result property="mapId"    column="map_id"    />
        <result property="name"    column="name"    />
        <result property="status"    column="status"    />
        <result property="total"    column="total"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="autoGen" column="auto_gen"/>
    </resultMap>

    <sql id="selectAbAtlasVo">
        select id, img_url, map_id, name, status, auto_gen,total,`row`,cel, del_flag, create_time, create_by, update_time, update_by from ab_atlas
    </sql>

    <select id="selectAbAtlasList" parameterType="AbAtlas" resultMap="AbAtlasResult">
        <include refid="selectAbAtlasVo"/>
        <where>  
            <if test="mapId != null "> and map_id = #{mapId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectAbAtlasById" parameterType="String" resultMap="AbAtlasResult">
        <include refid="selectAbAtlasVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAbAtlas" parameterType="AbAtlas" useGeneratedKeys="true" keyProperty="id" >
        insert into ab_atlas
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="imgUrl != null  and imgUrl != ''">img_url,</if>
            <if test="mapId != null ">map_id,</if>
            <if test="name != null  and name != ''">name,</if>
            <if test="status != null ">status,</if>
            <if test="total != null ">total,</if>
            <if test="delFlag != null ">del_flag,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="row != null">`row`,</if>
            <if test="cel != null">cel,</if>
            <if test="autoGen != null">auto_gen,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="imgUrl != null  and imgUrl != ''">#{imgUrl},</if>
            <if test="mapId != null ">#{mapId},</if>
            <if test="name != null  and name != ''">#{name},</if>
            <if test="status != null ">#{status},</if>
            <if test="total != null ">#{total},</if>
            <if test="delFlag != null ">#{delFlag},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="row != null">#{row},</if>
            <if test="cel != null">#{cel},</if>
            <if test="autoGen != null">#{autoGen},</if>
         </trim>
    </insert>

    <update id="updateAbAtlas" parameterType="AbAtlas">
        update ab_atlas
        <trim prefix="SET" suffixOverrides=",">
            <if test="imgUrl != null  and imgUrl != ''">img_url = #{imgUrl},</if>
            <if test="mapId != null ">map_id = #{mapId},</if>
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="status != null ">status = #{status},</if>
            <if test="total != null ">total = #{total},</if>
            <if test="delFlag != null ">del_flag = #{delFlag},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="row != null">`row`=#{row},</if>
            <if test="cel != null">cel=#{cel},</if>
            <if test="autoGen != null">auto_gen = #{autoGen},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAbAtlasById" parameterType="String">
        delete from ab_atlas where id = #{id}
    </delete>

    <delete id="deleteAbAtlasByIds" parameterType="String">
        delete from ab_atlas where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>